.copy-right
       p| Design by 
                     a(href="") achiles
footer
    
    script(type='text/javascript', src='/javascripts/script.js')
    script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/libs/font-awesome/js/font-awesome.min.js')
    