doctype html
html
  head
    title= "Achiles"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    style.
     a:hover,a:focus,a:active,a:visited{text-decoration:none;}
  body
    block content
    include footer
